{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %} About {% endblock %}
{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About The Blog
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-7">
                <img class="img-responsive" src="https://lh3.googleusercontent.com/-1E1SblQecPE/T6rTwMWkfWI/AAAAAAAAOxM/cOm8POgh7FI/s454/rss-orange-radar-bar-chicklet-icon.png" alt="">
            </div>

            <div class="col-md-4">
                <h3>Get To Know Us</h3>
                <p>This is a site where users can post about things that they enjoy, like dogs, or Will Smith, or even French Princes of Bel Air. You can come here to complain about co-workers or to write things about your boyfriends that no one will care about. It's a great atmosphere</p>
            </div>
        </div>

        <hr>
    </div>


{% endblock %}