
{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %} Dashboard {% endblock %}
{% block body %}
{% verbatim %}
<script type="text/javascript">
  $(document).ready(function() {
    function loadData() {
      $.getJSON("/posts/?format=json", function(json) {
      var template = $('#template').html();
      Mustache.parse(template);
      var rendered = Mustache.render(template, {array: json});
      $('#target').html(rendered);
    });
      setTimeout(loadData, 5000);
    }
    loadData();
  })
</script>
<script id = "template" type="x-tmpl-mustache">
  {{ #array }}
    <p>id: {{ id }} </p>
  {{ /array }}
</script>
{% endverbatim %}
<div id="target">Loading...</div>
{% endblock %}