{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %} Home {% endblock %}
{% block body %}
<!-- Wrapper for slides -->
                        <div class="carousel-inner">						
								<div class="item active ">	
									<img class="img-responsive img-full" src="static/img/slide-1.jpg" alt="" style="width: 910px; height: 605px; position: relative;">
									<div class="container slidestyleone">
										<h1>KAZOOMERANG - Live Tour!</h1>
										<p style="color: white;">A Crazy Fun Time For the Whole Family</p>
										<a href="\tour" class="btn btn-primary">See Tour Dates!</a>
									</div>
								</div>
                            <div class="item">
                                <img class="img-responsive img-full" src="static/img/slide-2.jpg" alt="" style="width: 910px; height: 605px">
								<div class="container slidestyletwo">
										<h1>KAZOOMERANG - Live Tour!</h1>
										<p style="color: white;">Come See America's Favorite Kazoo Band LIVE at Select Locations!</p>
										<a href="http://www.ticketmaster.com/" class="btn btn-primary" target="_blank">Get Tickets Now!</a>
									</div>
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="static/img/slide-3.jpg" alt="" style="width: 910px; height: 605px">
								<div class="container slidestylethree">
									<h1>KAZOOMERANG - New Album!</h1>
									<p style="color: white;">Seattle's very own KAZOOMERANG if coming home for a couple shows at the Space Needle and Pike's Place Market. Get your tickets NOW!</p>
									<a href="\music" class="btn btn-primary">CHECK OUT OUR SONGS!</a>
								</div>
								
								
                            </div>
                        </div>


{% endblock %}