{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %} Home {% endblock %}
{% block body %}

<!-- http://www.twitterevolutions.com/bgs/plaid-grandpa-sweater-twitter-background.jpg  -->

	<div class="container-fluid" style="background-image: url(../static/img/clouds.png); width: 100%; height: 750px; margin-top: -31px; ">
		<h2 style="text-align: center; margin-top: 60px; font-family: verdana">Create your own Blog for FREE.</h2>
		<div style="text-align: center;">
			<button class="btn btn-success btn-lg" style="text-align: center; font-family: verdana">Create Blog!</button>
		<h2>
			<p style="text-align: center;">Blog Features:</p>
          Personalized Themes!<br>
          Comment <br>
              {% if user.is_authenticated %}
                  <p>Welcome {{ user.username }} !</p> <br>
                  <a class="btn btn-primary" href = '/profile/{{ user.id }}'> Show off your selfies? </a>
                  <a class="btn btn-primary" href = '/sign_out/'> sign out? </a>
              {% else %}
                  <p>Welcome Guest, try making an account! :D <a href = '/sign_up/'> sign up? </a> <a href = '/sign_in/'> sign in? </a></p>
              {% endif %}
          </h2>
		</div>
	</div>
  <script type="text/javascript" />
      function loadTemplate() {
          var template = $('template').html();
          var data = {
              name: "Alice",
              emphasis: function(text, render){return "<b>" + render(text) + "<br>"},
              hobbies: [],
              classes" [{name: "cs200", credits: "3"}, 
                        {name: "cs212", credits: "3"}, 
                        {name: "cs249", credits: "4"}]
          };
          Mustache.parse(template);
          var rendered = Mustache.render(template, data);

          $('#target').html(rendered);
      }
  </script>
{% endblock %}