{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %} Home {% endblock %}
{% block body %}

<!-- http://www.twitterevolutions.com/bgs/plaid-grandpa-sweater-twitter-background.jpg  -->

	<div class="container-fluid" style="background-image: url(../static/img/clouds.png); width: 100%; height: 750px; margin-top: -31px; ">
		<h2 style="text-align: center; margin-top: 60px; font-family: verdana">Create your own Blog for FREE.</h2>
		<div style="text-align: center;">
			<button class="btn btn-success btn-lg" style="text-align: center; font-family: verdana">Create Blog!</button>
		
			<p style="text-align: center;">Blog Features:</p>
			<ul>
  				Personalized Themes!<br>
 				Comment <br>
  				Morbi leo risus<br>
  				Porta ac consectetur ac<br>
  				Vestibulum at eros<br>
			</ul>
		</div>
	</div>



{% endblock %}