{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %} Home {% endblock %}
{% block body %}

<!-- http://www.twitterevolutions.com/bgs/plaid-grandpa-sweater-twitter-background.jpg  -->

	<div class="container-fluid" style="background-image: url(../static/img/clouds.png); width: 100%; height: 750px; margin-top: -31px; ">		<br><br><br><br>
		<h1 style="h2">Info:</g1><h2>
        <p> Username: {{ user.username }} </p>
        <p> Email: {{ myuser.email }} </p>
        <p> Enc. Password: {{ user.password }} </p>
        <p> Name: {{ myuser.name }}</p>
        <p> Location: {{ myuser.hometown }}, {{ myuser.city }}, (state goes here), {{ myuser.zipcode }} </p>
        <p> Birthday: {{ myuser.birth }} </p>
        <br>
        <a class="btn btn-primary" href="/blog/"> Make an b-e-a-u-tiful blog? </a> <a class="btn btn-primary" href="/home/"> Home </a> <a class="btn btn-primary" href="/sign_out/"> Sign out </a></h2>
		</div>
	</div>
{% endblock %}