{% extends "base.html" %}
{% block nav-home %}class="active"{% endblock %}
{% block titleBlock %} {{ user.username }} {% endblock %}
{% block body %}
<div class="container-fluid"
     style="background-image: url(/static/img/clouds.png); width: 100%; height: 750px; margin-top: -31px; ">
    <div class="panel panel-primary" style="margin-top: 60px; width: 70%; margin-left: auto; margin-right: auto;">
        <div class="container-fluid" style="width: 100%; height: 750px; margin-top: -31px; ">
            <br><br>

            <h2>User Info:</h2>

            <p> Username: {{ profile_user.username }} </p>
            <p> Name: {{ myuser.name }} </p>
            <p> Email: {{ myuser.email }} </p>
            <p> Location: {{ myuser.city }}, {{ myuser.state }}, {{ myuser.zipcode }} </p>
            <p> Birthday: {{ myuser.birth }} </p>
            <br>
            {% if logged_in_user != myuser.id %}
                <a class="btn btn-primary" href=""> Add Friend </a>
            {% endif %}
            <br><br>
            <p>
                <a class="btn btn-primary" href="/blog/"> Make an b-e-a-u-tiful blog? </a> <a
                    class="btn btn-primary" href="/profiles/"> View Profiles </a> <a class="btn btn-primary"
                                                                        href="/sign_out/"> Sign out </a></h2>
            </p>
        </div>
    </div>
    <div id="target" class="panel panel-primary" style="margin-top: 60px; width: 50%; margin-left: auto; margin-right: auto;">
        <h2 align="center">YOUR POSTS</h2>
            {% for p in posts %}
                {% if p.user.id == profile_user.id %}
                <div>
                    <h4>{{ p.created }}</h4>
                    <strong><b>{{ p.title }}</b></strong> | <br>
                    {{ p.body }}<br>
                </div>
                {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock %}